In [1]:
import os
root_path ="C:/Users/Admin/OneDrive/Desktop/College/SEM-6/AI_ML/Worksheet09"

In [4]:
import pandas as pd
import os

# Path to the original data file
data_path = "C:/Users/Admin/OneDrive/Desktop/JUPYTER/npi.txt"
# Read the .txt file into a DataFrame
lines = pd.read_table(data_path, names=['source', 'target', 'comments'])

# Drop the 'comments' column if it exists
if 'comments' in lines.columns:
    lines = lines.drop(columns=['comments'])

# Path to save the cleaned CSV file
csv_path = os.path.join(root_path, "raw_data.csv")

# Save as CSV if it doesn't already exist
if not os.path.exists(csv_path):
    lines.to_csv(csv_path, index=False, encoding='utf-8')
    print(f"✅ CSV file saved to: {csv_path}")
else:
    print(f"⚠️ CSV file already exists at: {csv_path}")

✅ CSV file saved to: C:/Users/Admin/OneDrive/Desktop/College/SEM-6/AI_ML/Worksheet09\raw_data.csv

In [6]:
raw_data = pd.read_csv("C:/Users/Admin/OneDrive/Desktop/College/SEM-6/AI_ML/Worksheet09/raw_data.csv")
raw_data.sample(6)

,source,target
1274,I'd never let Tom kiss me.,मैले टमलाई कहिल्यै चुम्बन गर्न दिइनँ।
156,I drink a lot.,म धेरै पिउँछु।
1566,I'm going to give Tom a bath.,म टमलाई नुहाइदिन जाँदैछु।
2173,When will you come back from Boston?,बोस्टनबाट कहिले फर्किदै हुनुहुन्छ ?
1007,I play soccer every day.,म हरेक दिन फुटबल खेल्छु।
292,I'm the skipper.,म कप्तान हुँ।